header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(9, 157, 141, 0.9);
  
}

header h1 {
  text-align: center;
  padding: 15px 0;
  font-size: 15px;
  color: white;
}

header ul {
  background-color: rgb(20, 217, 196, 0.9);
  display: flex;
  gap: 10px;
  font-family: var(--header-color);
  justify-content: space-between;
  padding: 8px 16px;
  font-size: 0.9rem;
}
