#quienes-somos {
    margin-top: 50px
  }
  
  .right p, .left p, .person h3 {
    text-align: center;
    font-family:var(--theme-font);
    font-style: normal;
    font-weight: normal;
  }

  .center {
    text-align: center;
    margin: 15px 83px 0;
    line-height: 1.88;
    letter-spacing: normal;
  }

.section {
  display: inline-block;
  margin: auto;
}

.tittle-section {
  font-family: "Rubik", system-ui, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #099d8d;
}

.container {
  width: 290px;
  margin: 20px auto;
  display: block;
}
.person {
  margin: 20px;
}
.right p {
  text-align: center;
}
.left p {
  text-align: center;
}

.person img {
  width: 180px;
  border-radius: 4px;
  border: solid 5px rgba(184, 184, 185, 0.1);
}

.biografia {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #54585a;
}

.rectangle {
  width: 185px;
  border-radius: 4px;
  border: solid 5px;
}

.person  {
  text-align: center;
} 

.point {
  display: inline;
  color: #54585a;
  padding: 3px;
}

@media all and (min-width: 768px) {
.container {
  width: 600px;
} 
.right {
  text-align: right;
}

.left {
  text-align: left;
} 

.prueba {
  display: flex;
}

.name {
  padding: 10px;
  text-align: right;
}
}

@media all and (min-width: 1024px) {
  
}
