.section {
    display: inline-block;
    margin: auto;
  }
  
  #quienes-somos {
    width: 100%;
  }
  
  
  .tittle-section {
    font-family: "Rubik", system-ui, sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #099d8d;
  }
  
  .container {
    width: 800px;
    margin: 20px auto;
    display: block;
  }
  .person {
    margin: 20px;
    text-align: center;
  }
  
  .person img {
    width: 180px;
    border-radius: 4px;
    border: solid 5px rgba(184, 184, 185, 0.1);
  }
  
  .biografia {
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #54585a;
  }
  .rectangle {
    width: 185px;
    height: 185px;
    border-radius: 4px;
    border: solid 5px;
  }
  
  #quienes-somos {
    margin-top: 50px
  }
  
  .right p, .left p, .person h3 {
    font-family:var(--theme-font);
    font-style: normal;
    font-weight: normal;
  }

  .center {
    margin: 15px 0 0;
    line-height: 1.88;
    letter-spacing: normal;
  }

.section {
  display: inline-block;
  margin: auto;
}

.tittle-section {
  font-family: "Rubik", system-ui, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #099d8d;
}

.container {
  width: 290px;
  margin: 20px auto;
  display: block;
}
.person {
  margin: 20px;
}

.person img {
  width: 180px;
  border-radius: 4px;
  border: solid 5px rgba(184, 184, 185, 0.1);
}

.biografia {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #54585a;
}

.rectangle {
  width: 185px;
  border-radius: 4px;
  border: solid 5px;
}

.person  {
  text-align: center;
} 

.point {
  display: inline;
  color: #54585a;
  padding: 3px;
}

@media all and (min-width: 768px) {
.container {
  width: 600px;
} 
.right {
  text-align: right;
}

.left {
  text-align: left;
}

.name {
  padding: 10px;
  text-align: right;
}

.person--flex{
  display:flex;
  flex-direction: row;
}

.rectangle {
  margin: 0 20px;
}

.person--flex.right {
  flex-direction: row-reverse;
}
}

@media all and (min-width: 1024px) {
  .container {
    width: 900px;
  } 
  .right {
    text-align: right;
  }
  
  .left {
    text-align: left;
  }
  
  .name {
    padding: 10px;
    text-align: right;
  }
  
  .person--flex{
    display:flex;
    flex-direction: row;
  }
  
  .rectangle {
    margin: 0 30px;
  }
  
  .person--flex.right {
    flex-direction: row-reverse;
  }
  }