$text-secundary-color: #f1f1f1;
$header-background-color: #099d8d;
$heading-font: "Rubik", system-ui, sans-serif;
$theme-font: "Open Sans", system-ui, sans-serif;
$text-primary-color: #54585a;

.strength {
  align-items: center;
  background-color: $text-secundary-color;
  padding: 30px 15px 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  gap: 30px;

  @media (min-width: 768px) {
    align-items: start;
    flex-direction: row;
    justify-content: center;
    padding: 45px 45px 60px;
  }
  @media (min-width: 1200px) {
    padding: 45px 138px 60px;
    gap: 45px;
  }

  &__title {
    color: $header-background-color;
    font-size: 22px;
    width: 290px;
    line-height: 45px;
    font-family: $heading-font;
    font-weight: 500;
    @media (min-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__section {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__list {
    font-size: 16px;
    line-height: 1.5;
    font-family: $theme-font;
    color: $text-primary-color;

    @media (min-width: 1200px) {
      width: 439px;
    }
  }

  &__square {
    width: 30px;
    height: 30px;
    transform: translateY(-50%) rotate(45deg);
    background-color: rgb(255, 255, 255);
    display: flex;
    position: absolute;
    top: 0;
  }
}
