<section class="strength">
  <div class="strength__square"></div>
  <div class="strength__section">
    <h1 class="strength__title">Fortalezas</h1>
    <ul class="strength__list">
      <li>Empatía</li>
      <li>Humildad</li>
      <li>Actitud positiva</li>
      <li>Compañerismo</li>
      <li>Espíritu colaborativo</li>
      <li>Responsabilidad</li>
      <li>Confiabilidad</li>
      <li>Dotes comunicativos</li>
    </ul>
  </div>
  <div class="strength__section">
    <h1 class="strength__title">Debilidades</h1>
    <p class="strength__list">
      Nuestro equipo enfrenta desafíos como la falta de confianza y experiencia
      en el sector. Además, el miedo a los conflictos a veces nos impide abordar
      problemas directamente, lo que puede afectar nuestra capacidad para
      resolver diferencias y mejorar continuamente.
      <!-- <li>Falta de confianza</li>
      <li>Falta de experiencia en el sector</li>
      <li>Miedo a los conflictos</li> -->
    </p>
  </div>
</section>
