<section class="strength">
  <h1 class="strength__title">Fortalezas</h1>
  <ul class="strength__list">
    <li>Empatía</li>
    <li>Humildad</li>
    <li>Actitud positiva</li>
    <li>Compañerismo</li>
    <li>Espíritu colaborativo</li>
    <li>Responsabilidad</li>
    <li>Confiabilidad</li>
    <li>Dotes comunicativos</li>
  </ul>
  <h1 class="strength__title">Debilidades</h1>
  <ul class="strength__list">
    <li>Falta de confianza</li>
    <li>Falta de experiencia en el sector</li>
    <li>Miedo a los conflictos</li>
  </ul>
</section>
