<section class="team">
  <h1 class="team__title">EQUIPO</h1>
  <p class="team__text team__text--first">
    Nos identificamos como equipo porque compartimos una visión común y estamos
    comprometidas con reinventarnos para lograr nuestros objetivos. Cada una de
    nosotras valora la colaboración y el apoyo mutuo, lo que crea un ambiente
    positivo y productivo.
  </p>
  <p class="team__text">
    Tenemos en común una fuerte ética de trabajo, pasión por lo que hacemos y un
    deseo constante de mejorar. Compartimos valores como la honestidad, el
    respeto y la responsabilidad, lo que nos permite trabajar juntas de manera
    armoniosa y eficiente. Además, estamos dispuestas a aprender y crecer tanto
    profesional como personalmente.
  </p>
</section>
