@import 'core/reset';
@import 'layout/footer';
@import 'layout/section';
@import 'layout/header';
@import 'layout/hero';
@import 'layout/team';
@import 'layout/strength';

@import 'pages/contact';

:root {
    --heading-font: "Rubik", system-ui, sans-serif;
    --theme-font: "Open Sans", system-ui, sans-serif;
  
    --heading-color: #000;
  
    --text-primary-color: #54585a;
    --text-secundary-color: #b8b8b9;
  
    --header-background-color: #099d8d;
    --header-color: #fff;
    --nav-background-color: #14d9c4;
    --nav-color: #fff;
  }
  
   
  header {
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(9, 157, 141, 0.9);
    a {
      color: white;
    }
  }
  
  header h1 {
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
  }
  
  header ul {
    background-color: rgb(20, 217, 196, 0.9);
    display: flex;
    gap: 10px;
    font-family: var(--header-color);
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  
  
  @media all and (min-width: 768px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 45px;
    }
    
    header h1 {
      text-align: center;
      padding: 15px 0;
      font-size: 15px;
    } 
    header ul {
      background-color: transparent;
    } 
  
    footer {
      position:relative;
      display:block;
      border-top:1px solid var(--text-secundary-color);
    }
  
    footer nav {
      position: absolute;
      top:0;
      right:0;
    }
    footer ul {
      margin: 40px;
      line-height:30px;
    }
    footer nav ul li {
      text-align: right;
      font-size: 14px;
    }
  
    footer h2 {
      text-align:left;
      margin-top:30px;
      color: var(--text-secundary-color);
      font-size: 14px;
    }
    footer img{
      margin-top: -5px;
      margin-left: 35px;
      
    }
  }
  
  @media all and (min-width: 1200px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 45px;
    }
    header h1 {
      text-align: center;
      padding: 15px 0;
      font-size: 16px;
    }
    header ul {
      font-size: 16px;
    }
  }
  
  
