
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html {
    font-family: var(--theme-font);
    font-size: 16px;
    font-weight: 500;
}
ul {
    list-style-type: none;
}

header, h1, h2, h3 {
    font-family: "Rubik", system-ui, sans-serif;
}
