/*variables que se usaran en todo el proyecto*/
:root {
  --heading-font: "Rubik", system-ui, sans-serif;
  --theme-font: "Open Sans", system-ui, sans-serif;

  --heading-color: #000;

  --text-primary-color: #54585a;
  --text-secundary-color: #b8b8b9;

  --header-background-color: #099d8d;
  --header-color: #fff;
  --nav-background-color: #14d9c4;
  --nav-color: #fff;
}

.hero {
  background-image: url(../images/Foto-equipo.png);
  height: 421px;
  background-position: center;
  display: flex;
  align-items: end;
  justify-content: center;
  background-size: cover;
}
.slogan {
  padding: 15px;
  width: 290px;
  height: 80px;
  background-color: #ffffff;
  position: relative;
  top: 40px;
  line-height: 1.39;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  color: white;
}

header h1 {
  background-color: var(--header-background-color);
  text-align: center;
  padding: 15px 0;
  font-size: 0.9rem;
}

header ul {
  background-color: var(--nav-background-color);
  display: flex;
  gap: 10px;
  font-family: var(--header-color);
  justify-content: space-between;
  padding: 8px 16px;
  font-size: 0.9rem;
}

/*footer*/


.nombre {
  color: #b8b8b9;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  text-align: center;
  padding: 55px;
}

.equipo {
  color: #54585a;
  font-size: 14px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 4px;
}

.quienes {
  color: #54585a;
  font-size: 14px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 4px;
}

.contacto {
  color: #54585a;
  font-size: 14px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  padding: 4px;
}

.imagen {
  width:114px; 
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  display: inline-block;
  margin: auto;
 }


#quienes-somos {
  margin: 20px auto;
  width: 400px;
}

.tittle-section {
  width: 193px;
  height: 45px;
  margin: 0 365.5px 41px;
  font-family: "Rubik", system-ui, sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #099d8d;
}

.person img {
  width: 10px;
  height: 10px;
  border-radius: 4px;
  border: solid 5px var(--black-8);
}

.biografia-1 {
  width: 439px;
  height: 125px;
  margin: 45px 0 15px 45px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #54585a;
}

.biografia-2 {
  width: 440px;
  height: 151px;
  margin: 45px 45px 15px 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #54585a;
}






@media all and (min-width: 768px) {
  .hero {
    padding: 0 0 0 76px;
    justify-content: start;
  }

  .slogan {
    background-color: rgba(255, 255, 255, 0.7);
    width: 441px;
    height: 80px;
    top: 0;
  }

  header {
    display: flex;
    background-color: var(--header-background-color);
    justify-content: space-between;
    align-items: center;
    padding:16px 45px;
  }

  header ul {
    background-color: transparent;
  }
}

@media all and (min-width: 1200px)
{
  header {
    display: flex;
    background-color: var(--header-background-color);
    justify-content: space-between;
    align-items: center;
    padding:16px 45px;
  }
}

